{% extends 'base.html' %}
{% block body %}


    <div class="container mt-3">
        <div class="row border mt-4 p-3 meupost">
            <div class="column col-2">
                <div class="image pe-2"> <img src="{{ comentario.autor.foto_perfil }}" class="rounded" width="200"> </div>
                <strong>{{ comentario.autor.username }}</strong>
                <div class="row justify-content-center">
                    {% for curso in comentario.autor.cursos.split(';') %}
                    <button type="button" class="btn btn-success mt-2" disabled>
                        {{ curso }}
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="column col-9">
                <h3>
                    {{ comentario.titulo }}
                    <small class="text-muted" style="font-size: 15px">
                        - Data de criação: {{ comentario.data_criacao.strftime('%d/%m/%Y') }} -
                        <a href="#form_editar_post">Editar</a> / <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#excluir_post">Excluir comentario</a>
                    </small>
                </h3>
                <p>{{ comentario.corpo }}</p>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class="row">
            <div class="col">
                <form method="POST" action="" id="form_editar_post" class = "border p-4 mt-2">
                    {{ form_editarcomentario.csrf_token }}
                    <legend>Editar comentario</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_editarcomentario.corpo.label(class = "form-control-label") }}
                            {% if form_editarcomentario.corpo.errors %}
                                {{ form_editarcomentario.corpo(class = "form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_editarcomentario.corpo.errors %}
                                    {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editarcomentario.corpo(class = "form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form_editarcomentario.botao_submit_comentar(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="excluir_post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você realmente quer excluir esse comentario? (Essa ação não pode ser desfeita)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form method="POST" action="{{ url_for('excluir_comentario', comentario_id=comentario.id) }}">
              <button type="submit" class="btn btn-danger">Excluir comentario</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}