{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>Sobre</h2>
    <hr>
</div>

<div class="container">
    <p>Projeto desenvolvido em Python com o objetivo de praticar o uso das tecnologias nele aplicadas.</p>
    <p>A ideia deste projeto foi desenvolver um site que funcionaria como um local de
        interação entre alunos de uma empresa de cursos fictícia.
        O Site permite o cadastro de usuários, permite que os usuários realizem postagens que serão exibidas para os outros usuários, permite que os usuários comentem os posts uns dos outros,
        permite que os usuarios vejam o perfil dos outros usuários e permite edições de perfil.
    </p>
    <br>
    <b>Github do desenvolvedor: <a href="https://github.com/LucasMeneses1" target="_blank" style="text-decoration: none;">https://github.com/LucasMeneses1</a></b>
    <i class="fa-brands fa-python ms-2"></i>

</div>
{% endblock %}